<section class="section__sticky">
    <div class="section__sticky section__one">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-large">
                    <app-welcome></app-welcome>
                </div>
            </div>
        </div>
    </div>

    <div class="section__sticky section__two">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-large">
                    <div class="game__intentos">
                        <b>{{(intentos-cont_intentos < intentos) ? "Intentos restantes:" : "Intentos:"}}</b> {{intentos-cont_intentos}} <br>
                        <b>Aciertos :</b> {{count_aciertos}}
                    </div>
                    <div class="game__table">
                        <span *ngFor="let card of cards; index as i">
                            <img class="game__img--card" src="{{card.visible ? card.url : images_inact}}" (click)="cardSelected(i)">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>